Repository kisstar/rc-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:style, yarn run lint:es, yarn run prettier

.lintstagedrc.json:

{
  "*.{css,scss}": ["yarn run lint:style"],
  "*.{js,jsx,ts,tsx}": ["yarn run lint:es"],
  "**/*.{js,jsx,ts,tsx,json,css,scss,md}": ["yarn run prettier"]
}

chore: rename configuration file & lint *.html
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  package.json
  yarn.lock
Due: yarn run prettier

chore: configure htmlhint & lint *.md
  .htmlhintrc.json
  .lintstagedrc.json
  .markdownlintignore
  .markdownlintrc
  package.json
  yarn.lock
Due: yarn run prettier

chore: auto handling versioning, changelog generation, etc
  package.json
  yarn.lock
Due: yarn run prettier

chore: add and modify package descriptions
  package.json
Due: yarn run prettier

chore: adding a Sass Stylesheet
  package.json
  yarn.lock
Due: yarn run prettier

feat: add theme color variables and font related variables
  .stylelintrc.json
  src/styles/_variables.scss
Due: yarn run lint:style, yarn run prettier

feat: through normalize.css make the browser render all elements more consistent
  .env
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/styles/_reboot.scss
  src/styles/_variables.scss
  src/styles/index.scss
  yarn.lock
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

feat(button): complete the infrastructure of the button component
  .eslintrc.json
  package.json
  src/components/button/index.tsx
  src/lib/utils.ts
  yarn.lock
Due: yarn run lint:es, yarn run prettier

feat(button): add style to button
  src/App.tsx
  src/app.scss
  src/components/button/index.tsx
  src/components/button/style/_mixin.scss
  src/components/button/style/index.scss
  src/styles/_common.scss
  src/styles/_reboot.scss
  src/styles/_variables.scss
  src/styles/index.scss
  src/styles/layout/_default.scss
  src/styles/themes/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

chore: adjust the configuration of eslint and prettier
  .eslintrc.json
  .prettierrc.json
  package.json
  yarn.lock
Due: yarn run prettier

feat(button): improve the basic functions of components
  package.json
  src/components/button/index.tsx
  src/components/button/style/index.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test(button): test the basic functions
  src/components/button/__tests__/__snapshots__/index.test.tsx.snap
  src/components/button/__tests__/index.test.tsx
Due: yarn run lint:es, yarn run prettier

feat: `ConfigProvider` support prefixCls
  src/App.test.tsx
  src/App.tsx
  src/components/button/__tests__/index.test.tsx
  src/components/button/index.tsx
  src/components/button/style/_mixin.scss
  src/components/button/style/index.scss
  src/components/config-provider/__tests__/index.test.tsx
  src/components/config-provider/context.tsx
  src/components/config-provider/index.tsx
  src/styles/layout/_default.scss
  src/styles/themes/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

chore(docs): provide GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlintignore
Due: yarn run prettier

chore(docs): create file CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: yarn run prettier

feat(menu): build the basic structure of menu components
  src/App.tsx
  src/components/menu/MenuContext.tsx
  src/components/menu/MenuItem.tsx
  src/components/menu/index.tsx
Due: yarn run lint:es, yarn run prettier

feat(menu): add the basic style of the menu
  src/App.tsx
  src/components/menu/style/index.scss
  src/styles/index.scss
  src/styles/themes/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test: test the basic functions of menu components
  src/App.tsx
  src/components/button/__tests__/index.test.tsx
  src/components/menu/MenuContext.tsx
  src/components/menu/MenuItem.tsx
  src/components/menu/__tests__/__snapshots__/index.test.tsx.snap
  src/components/menu/__tests__/index.test.tsx
  src/components/menu/index.tsx
  src/components/menu/style/index.scss
  src/tests/mountTest.tsx
  src/types/index.d.ts
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

feat(menu): support drop down menu
  src/App.tsx
  src/components/menu/MenuContext.tsx
  src/components/menu/MenuItem.tsx
  src/components/menu/SubMenu.tsx
  src/components/menu/__tests__/index.test.tsx
  src/components/menu/index.tsx
  src/components/menu/style/_mixin.scss
  src/components/menu/style/index.scss
  src/styles/layout/_default.scss
  src/styles/themes/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test: supplementary menu related test cases
  src/components/config-provider/__tests__/index.test.tsx
  src/components/menu/__tests__/__snapshots__/index.test.tsx.snap
  src/components/menu/__tests__/index.test.tsx
  src/types/index.d.ts
Due: yarn run lint:es, yarn run prettier

feat(icon): add basic functions of icon components
  package.json
  src/App.tsx
  src/components/icon/IconFont.tsx
  src/components/icon/index.tsx
  src/components/icon/style/index.scss
  src/styles/index.scss
  yarn.lock
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test(icon): test the basic functions of Icon
  src/App.tsx
  src/components/icon/IconFont.tsx
  src/components/icon/__tests__/__snapshots__/index.test.tsx.snap
  src/components/icon/__tests__/index.test.tsx
Due: yarn run lint:es, yarn run prettier

feat(menu): menu support Icon
  src/App.tsx
  src/components/menu/MenuItem.tsx
  src/components/menu/SubMenu.tsx
  src/components/menu/__tests__/index.test.tsx
  src/components/menu/style/index.scss
  src/styles/layout/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

feat: unified exposure exit, support ES module pack
  .gitignore
  package.json
  src/App.tsx
  src/index.tsx
  src/serviceWorker.ts
  src/styles/_reboot.scss
  tsconfig.build.json
  yarn.lock
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

chore: install the correct type declaration for the test library
  package.json
  src/types/index.d.ts
  yarn.lock
Due: yarn run lint:es, yarn run prettier

chore: install Storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  tsconfig.build.json
  yarn.lock
Due: yarn run lint:es, yarn run prettier

docs: 编写现有组件（Button、Icon、Menu、ConfigPriovider）的文档
  .storybook/preview.js
  src/App.tsx
  src/components/button/__tests__/index.test.tsx
  src/components/button/index.tsx
  src/components/config-provider/__tests__/index.test.tsx
  src/components/config-provider/index.tsx
  src/components/icon/__tests__/index.test.tsx
  src/components/icon/index.tsx
  src/components/menu/MenuItem.tsx
  src/components/menu/SubMenu.tsx
  src/components/menu/__tests__/index.test.tsx
  src/components/menu/index.tsx
  src/stories/Button.stories.tsx
  src/stories/ConfigProvider.stories.tsx
  src/stories/Icon.stories.tsx
  src/stories/Menu.stories.tsx
Due: yarn run lint:es, yarn run prettier

chore: make preparations before release
  .gitignore
  .lintstagedrc.json
  .npmignore
  README.md
  package.json
  yarn.lock
Due: yarn run prettier

chore: use CircleCI
  .circleci /config.yml
  README.md
Due: yarn run prettier

fix: no .circleci/config.yml was found in your project
  .circleci/config.yml
Due: none

chore: automatically rebase PRs & fix some Yaml syntax error
  .circleci/config.yml
  .github/workflows/rebase.yml
Due: none

fix: invalid CircleCI config
  .circleci/config.yml
Due: none

Add license scan report and status
  README.md
Due: yarn run prettier

feat: resolve conflicts between test and storybook
  .circleci/config.yml
  .lintstagedrc.json
  package.json
  src/components/menu/MenuItem.tsx
  src/components/menu/SubMenu.tsx
  src/components/menu/__tests__/__snapshots__/index.test.tsx.snap
Due: yarn run lint:es, yarn run prettier

chore: integrating TravisCI & Codecov
  .codecov.yml
  .travis.yml
  package.json
Due: yarn run prettier

docs: add multiple badges
  README.md
Due: yarn run prettier

chore: support WEB development environment
  .gitignore
  README.md
  package.json
  src/App.tsx
  src/index.tsx
  src/intex.ts
  tsconfig.build.json
Due: yarn run lint:es, yarn run prettier

chore(docs): add CONTRIBUTING.md
  .github/CONTRIBUTING.md
  package.json
Due: yarn run prettier

fix: web server startup error
  src/App.tsx
  src/app.scss
  src/index.ts
  src/index.tsx
  src/intex.ts
  src/pages/Home.tsx
  tsconfig.build.json
Due: yarn run lint:style, yarn run lint:es, yarn run prettier
